.about-me {
    display: flex;
    justify-content: space-between;
     p,
     .profile-image {
         width: 40%;
         min-width: 350px;
         display: flex;
         align-items: center;
     }
     p {
         display: flex;
         flex-direction: column;
         justify-content: center;
         line-height: 2;
         order: 2;
            span {
                display: block;
                margin-top: 30px;
            }
    }
}