// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
$mainBackground: #e8e8e8;
$secondaryBackground: #FFFFFF;
$textColor: #000000;
$border: #BCBCBC;
$menuBackground: rgba(255, 255, 255, .99);

h1,
h2,
a,
.logo,
button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $textColor;
    font-weight: bold;
    text-decoration: none;
}

a,
h2,
.main-header,
button {
    font-weight: 400;
} 

a,
.title,
button {
    font-size: 2rem;
}

.logo {
    font-size: 4rem;
}

h1 {
    font-size: 5.5rem;
}

h2,
.main-header {
    font-size: 3rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

header,
.skills,
.contact {
    background-color: $mainBackground;
}

.social-links li a {
    &:hover,
    &:focus,
    &:focus-within {
        color: $border;
    }
}

.copyright {
    font-size: 1rem;
}