// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
$mainBackground: #E8E8E8;
$secondaryBackground: #FFFFFF;
$textColor: #000000;
$border: #BCBCBC;

h1,
h2,
a,
.logo,
button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $textColor;
    font-weight: bold;
    text-decoration: none;
}

a,
h2,
.main-header,
button {
    font-weight: 400;
} 

a {
    font-size: 2rem;
}

.logo {
    font-size: 4rem;
}

h1 {
    font-size: 5.5rem;
}

h2,
.main-header {
    font-size: 3rem;
}

.main-header {
    display: block;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

.title, button {
    font-size: 2rem;
}

header,
.skills,
.contact,
footer {
    background-color: $mainBackground;
}