@import 'setup';
@import 'typographyAndColors';

// general styling
h1 {
    margin: 0;
}

h2 {
    text-align: center;
    margin: 60px 0;
}

button {
    border: 2px solid $border;
    background: none;
    padding: 10px 20px;
        &:hover,
        &:focus,
        &:focus-within {
            cursor: pointer;
            border: 2px solid $textColor;
        }
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

input,
textarea {
    width: 30%;
    font-size: 1.8rem;
    padding: 10px;
    border: none;
    border-bottom: 2px solid $border;
    background: none;
}


textarea {
    width: 74%;
    margin: 40px 0;
    resize: none;
}

// header styling
header {
    height: 100vh;
    min-height: 360px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
        .logo {
            margin: 20px 0;
        }
}

.header-links {
    align-items: center;
    margin: 0;
        li {
            margin-left: 30px;
                a:hover,
                a:focus,
                a:focus-within {
                    border-bottom: 2px solid $border;
                }
        }
}

.menu {
    position: absolute;
    right: 10%;
    top: 3%;
    display: none;
}

.main-header {
    margin-bottom: 20px;
    display: block;
}

.title {
    margin: 20px 0 50px 0;
}

.header-intro {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// about section styling
.about-me {
    display: flex;
    justify-content: space-between;
     p,
     .profile-image {
         width: 40%;
         min-width: 350px;
         display: flex;
         align-items: center;
     }
     p {
         display: flex;
         flex-direction: column;
         align-items: center;
         line-height: 2;
            span {
                display: block;
                margin-top: 30px;
            }
     }
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
        div {
            width: 40%;
            height: 0;
            border-bottom: 1px solid $border;
        }
}

// skills section styling
.skills {
    margin-top: 100px;
    padding-bottom: 80px;
        .skills-icons {
            display: flex;
            justify-content: space-evenly;
                i {
                    font-size: 6rem;
                }
                p {
                    visibility: hidden;
                }
        }
}

.skills-row {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
                &:hover p,
                &:focus p,
                &:focus-within p{
                    visibility: visible;
                }
        }
}

// projects section styling
.project {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
        .project-image,
        .project-description {
            width: 45%;
        }
        .project-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
                span {
                    margin: 20px 0 10px 0;
                    display: block;
                    font-weight: bold;
                }
        }   
}

.project-two,
.project-four {
    .project-description {
        order: -1;
    }
}

// contact section styling
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    padding-bottom: 70px;
        div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// footer styling
footer {
    .social-links {
        width: 20%;
        justify-content: space-evenly;
        margin: 0 auto;
            li a{
                padding: 10px;
                    &:hover,
                    &:focus,
                    &:focus-within {
                        color: $border;
                    }
            }
    }
    p {
        text-align: center;
        padding: 20px 0;
    }
}

// animation
section, 
.project {
    visibility: hidden;
}

.animate {
    visibility: visible;
    animation: slideUp 1s ease-out;
}
  
  @keyframes slideUp {
    0% { opacity: 0; transform: translateY(25%); }   
    100% { opacity: 1; transform: translateY(0); }
}

// mobile design
@media (max-width: 920px) {

    .wrapper {
        width: 90%;
    }

    .header-line {
            div {
                width: 35%;
            }
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         p,
         .profile-image {
             width: 100%;
             min-width: 250px;
             display: flex;
             align-items: center;
         }
         p {
             margin-top: 50px;
         }
         .profile-image {
            justify-content: center;
            order: -1;
                img {
                    width: 70%;
                }
         }
    }

    .skills {
        margin-top: 70px;
    }
}

@media (max-width: 720px) {

    h1 {
        font-size: 4.5rem;
    }

    .menu {
        display: block;
    }

    .header-links {
        display: none;
        background: $menuBackground;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        right: 9%;
        top: 17%;
            li {
                margin-left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15vh;
                width: 81vw;
            }
    }

    .about-me p {
        line-height: 1.8;
    }

    .skills{
        margin-top: 60px;
        .skills-icons {
            flex-direction: column;
                .skills-row {
                    width: 100%;
                }
        }
    }
    .project {
        flex-direction: column;
            .project-image,
            .project-description {
                width: 100%;
                    div {
                        text-align: center;
                    }
            }
    }

    .project-two,
    .project-four {
        .project-description {
            order: 0;
        }
    }

    input {
        width: 45%;
    }

    textarea {
        width: 93.5%;
    }
}