html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
a,
.logo,
button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #212121;
  font-weight: bold;
  text-decoration: none;
}

a,
h2,
.main-header,
button {
  font-weight: 400;
}

a,
.title,
button {
  font-size: 2rem;
}

.logo {
  font-size: 4rem;
}

h1 {
  font-size: 5.5rem;
}

h2,
.main-header {
  font-size: 3rem;
}

p,
.project-description a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

header,
.skills,
.contact {
  background-color: #e8e8e8;
}

.social-links li a:hover, .social-links li a:focus, .social-links li a:focus-within {
  color: #BCBCBC;
}

.copyright {
  font-size: 1rem;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  margin: 60px 0;
}

button {
  border: 2px solid #BCBCBC;
  background: none;
  padding: 10px 20px;
}

button:hover, button:focus, button:focus-within {
  cursor: pointer;
  border: 2px solid #212121;
}

ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input,
textarea {
  width: 30%;
  font-size: 1.8rem;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #BCBCBC;
  background: none;
}

textarea {
  width: 74%;
  margin: 40px 0;
  resize: none;
}

.header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-line div {
  width: 40%;
  height: 0;
  border-bottom: 1px solid #BCBCBC;
}

section,
.project {
  visibility: hidden;
}

.animate {
  visibility: visible;
  -webkit-animation: slideUp 1s ease-out;
          animation: slideUp 1s ease-out;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header {
  height: 100vh;
  min-height: 830px;
  max-height: 1500px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #BCBCBC;
}

.header-nav .logo {
  margin: 20px 0;
}

.header-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header-links li {
  margin-left: 30px;
}

.header-links li a:hover,
.header-links li a:focus,
.header-links li a:focus-within {
  border-bottom: 2px solid #BCBCBC;
}

.header-links-mobile {
  display: none;
}

.menu {
  display: none;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  margin-bottom: 20px;
  display: block;
}

.title {
  margin: 20px 0 50px 0;
}

.header-intro {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-image {
  width: 43.5%;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me p,
.about-me .profile-image {
  width: 40%;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about-me p span {
  display: block;
  margin-top: 30px;
}

.skills {
  margin-top: 100px;
  padding-bottom: 80px;
}

.skills .skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills .skills-icons i {
  font-size: 6rem;
}

.skills-row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%/3);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 100px;
}

.project .project-image,
.project .project-description {
  width: 45%;
}

.project .project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
}

.project .project-description a {
  text-transform: capitalize;
  text-decoration: underline;
  color: #BCBCBC;
}

.project .project-description a:hover, .project .project-description a:focus, .project .project-description a:focus-within {
  color: #212121;
}

.project .project-description span {
  margin: 20px 0 10px 0;
  display: block;
  font-weight: bold;
}

.project-two .project-description,
.project-four .project-description {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  padding-bottom: 70px;
}

.contact-form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.thank-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links {
  width: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

footer .social-links li a {
  padding: 10px;
}

footer .social-links li a:hover, footer .social-links li a:focus, footer .social-links li a:focus-within {
  color: #BCBCBC;
}

footer p {
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 920px) {
  .wrapper {
    width: 90%;
  }
  header {
    min-height: 580px;
  }
  .header-image {
    width: 42%;
  }
  .header-line div {
    width: 35%;
  }
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-me p,
  .about-me .profile-image {
    width: 100%;
    min-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me p {
    margin-top: 50px;
  }
  .about-me .profile-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about-me .profile-image img {
    width: 70%;
  }
  .skills {
    margin-top: 70px;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 4.5rem;
  }
  .menu {
    display: block;
  }
  .header-links {
    display: none;
  }
  .header-links-mobile {
    background: rgba(255, 255, 255, 0.99);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 9.5%;
    top: 17%;
  }
  .header-links-mobile li {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
    width: 81vw;
  }
  .header-links-mobile li a:hover,
  .header-links-mobile li a:focus,
  .header-links-mobile li a:focus-within {
    border-bottom: 1px solid #BCBCBC;
  }
  .header-image {
    display: none;
  }
  .about-me p {
    line-height: 1.8;
  }
  .about-me .profile-image img {
    width: 90%;
  }
  .skills {
    margin-top: 60px;
  }
  .skills .skills-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills .skills-icons .skills-row {
    width: 100%;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .project-image,
  .project .project-description {
    width: 100%;
  }
  .project .project-image div,
  .project .project-description div {
    text-align: center;
  }
  .project-two .project-description,
  .project-four .project-description {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .contact-form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form div input:nth-child(2) {
    margin-bottom: 35px;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  footer .social-links {
    width: 100%;
  }
}
